.smoke {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: rgb(0, 187, 255);
    border-radius: 50%;
    opacity: 0;
    filter: blur(5px);
    transform: translate(var(--x, 0), var(--y, 0)) scale(1);
    animation: smoke-animation 1s ease-out forwards;
    will-change: transform, opacity;
}

@keyframes smoke-animation {
    0% {
      transform: translate(var(--x, 0), var(--y, 0)) scale(1);
      opacity: 0.25;
    }
    50% {
      transform: translate(var(--x, 0), var(--y, 0)) scale(2);
      opacity: 0.25;
    }
    100% {
      transform: translate(var(--x, 0), var(--y, 0)) scale(3);
      opacity: 0;
    }
}
